# Ignore sensitive files related to credentials
credentials.json
google_account1.json
google_account2.json
token.json
token.pickle

# Ignore Python cache files
__pycache__/

# Ignore personal or testing files that shouldn't be tracked
.q.py
.test1.md

# Ignore the Sankey diagram Python script
.sankey.py
